@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(0, 0, 0);
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 1, 10, 1) 50%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 1, 10, 1) 50%, rgba(0, 0, 0, 1) 100%);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 1, 10, 1) 50%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}